<!doctype html>
<html lang="en">
	<head>
		<title>Tutorial sobre WebRTC</title>
		<link rel="stylesheet" type="text/css" href="styles.css">
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<video id="myVideoTag" autoplay></video>
		<video id="theirVideoTag" autoplay></video>
		<div>
			<label>Nome</label><input id="myName" type="text"/>
			<label>Mensagem</label><input id="myMessage" type="text"/>
			<input id="sendMessage" type="submit"/>
			<div id="chatArea">Mensagens de chat:</br></div>
			<div id="signalingArea">Mensagens do Signaling:</br></div>
		</div>
		
		<script>
			var myVideoArea = document.querySelector("#myVideoTag");
			var theirVideoArea = document.querySelector("#theirVideoTag");
			var myName = document.querySelector("#myName");
			var myMessage = document.querySelector("#myMessage");
			var sendMessage = document.querySelector("#sendMessage");
			var chatArea = document.querySelector("#chatArea");
			var signalingArea = document.querySelector("#signalingArea");
			var ROOM = "chat";
			var SIGNAL_ROOM = "signal_room";
			// Configuração do STUN server gratuito do Google. 
			var configuration = {
				'iceServers': [{
					'url': 'stun:stun.l.google.com:19302'
				}]
			};
			var rtcPeerConn;
			
			io = io.connect();
			io.emit('ready', {"chat_room": ROOM, "signal_room": SIGNAL_ROOM});

			// Envia uma primeira mensagem de signaling para todos que estejam ouvindo
			// Normalmente isso seria feito usando um botão (escolhendo a pessoa com quem deseja se conectar)
			// No exemplo, ao entrar na página, o sinal já é enviado. 
			io.emit('signal',{"type":"user_here", "message":"Are you ready for a call?", "room":SIGNAL_ROOM});
			

			io.on('signaling_message', function(data) {
				displaySignalMessage("Signal received: " + data.type);
				// Configuração do objeto RTCPeerConnection
				// Verifica se existe o objeto rtcPeerConn está criado, caso contrário, chama o método startSignaling();
				if (!rtcPeerConn)
					startSignaling();
				if (data.type != "user_here") {
					var message = JSON.parse(data.message);
					if (message.sdp) {
						rtcPeerConn.setRemoteDescription(new RTCSessionDescription(message.sdp), function () {
							// Se nós recebemos uma resposta, precisamos responder.
							if (rtcPeerConn.remoteDescription.type == 'offer') {
								// Envia a mensagem com as informações locais para o outro peer
								rtcPeerConn.createAnswer(sendLocalDesc, logError);
							}
						}, logError);
					}
					else {
						rtcPeerConn.addIceCandidate(new RTCIceCandidate(message.candidate));
					}
				}
				
			});
			
			function startSignaling() {
				displaySignalMessage("starting signaling...");
				// Inicia o objeto rtcPeerConn com as configurações do ICE servers (stun/turn)
				// Nesse exemplo, estamos usando apenas o STUN
				rtcPeerConn = new webkitRTCPeerConnection(configuration);

				// envia uma icecandidate para o outro peer
				rtcPeerConn.onicecandidate = function (evt) {
					if (evt.candidate)
						io.emit('signal',{"type":"ice candidate", "message": JSON.stringify({ 'candidate': evt.candidate }), "room":SIGNAL_ROOM});
					displaySignalMessage("completed that ice candidate...");
				};
				
				// 'onnegotiationneeded' cuida da negociação entre os peers para conexão
				rtcPeerConn.onnegotiationneeded = function () {
					displaySignalMessage("on negotiation called");
					rtcPeerConn.createOffer(sendLocalDesc, logError);
				}
				
				// assim que o stream do outro peer chega, mostra na div theirVideoArea
				rtcPeerConn.onaddstream = function (evt) {
					displaySignalMessage("going to add their stream...");
					theirVideoArea.srcObject = evt.stream;
				};
				

				// Recupera o stream local (Camera / microfone) e mostra no navegador 
				navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
				navigator.getUserMedia({
					'audio': true,
					'video': true
				}, function (stream) {
					displaySignalMessage("going to display my stream...");
					myVideoArea.srcObject = stream;
					// Envia o stream local recuperado para o outro peer
					rtcPeerConn.addStream(stream);
				}, logError);
			  
			}
			
			
			function sendLocalDesc(desc) {
				rtcPeerConn.setLocalDescription(desc, function () {
					displaySignalMessage("sending local description");
					io.emit('signal',{"type":"SDP", "message": JSON.stringify({ 'sdp': rtcPeerConn.localDescription }), "room":SIGNAL_ROOM});
				}, logError);
			}
			
			function logError(error) {
				displaySignalMessage(error.name + ': ' + error.message);
			}
			
			io.on('announce', function(data) {
				displayMessage(data.message);
			});
			
			io.on('message', function(data) {
				displayMessage(data.author + ": " + data.message);
			});
			
			// Mostra mensagens relacionadas ao chat
			function displayMessage(message) {
				chatArea.innerHTML = chatArea.innerHTML + "<br/>" + message;
			}
			
			// Mostra as mensagens relacionadas a signaling
			function displaySignalMessage(message) {
				signalingArea.innerHTML = signalingArea.innerHTML + "<br/>" + message;
			}
			
			sendMessage.addEventListener('click', function(ev){
				io.emit('send', {"author":myName.value, "message":myMessage.value, "room":ROOM});
				ev.preventDefault();
			}, false);
			
		</script>
	</body>
</html>